@font-face {
  font-family: Kushan;
  src: url(/font/KaushanScript-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

/* Color Palatte */

.main-palatte {
  height: 65%;
  width: 100%;
  display: flex;
}

.palatte-item {
  width: 20%;
  height: 100%;
  text-align: center;
}

.color-code {
  padding: 20% 10%;
  color: white;
  font-weight: bold;
}

.color-selector {
  padding: 5%;
  display: block;
  color: white;
}

.color-lock {
  padding: 5% 5% 15% 5%;
  display: block;
  color: white;
}

/* Color Slider */

.color-slider {
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  font-size: 12px;
  color: gray;
  margin: auto;
  width: 70%;
}

.close-button {
  float: right;
  font-size: 12px;
  color: gray;
  background-color: transparent;
  border: 0px;
  position: relative;
  bottom: 5px;
  left: 7px;
}

.single-slider {
  margin-top: 10px;
}
.input-text {
  margin: 0;
  float: left;
}

/* styling input range */
.color-input {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 10px;
  height: 10px;
  margin-top: 10px;
}
/* Palatte Settings */

.palatte-settings {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: auto;
  padding-top: 5%;
  text-align: center;
}

.palatte-settings i {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
